@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap');

$white: #fff;
$orange: #fce38a;
$white-light: #fbf3dc;
$black: #333333;
$pink: #f38181;
$light-pink: #f49090;
$dark-gray: #999999;
$light-blue: #95e1d3;
$blue-lighten: #b5eae0; 
$gray: #f8f8f8;
$gray-lighten: #b2b2b2;
$light-gray: #cccccc;
/*shrift*/
$monserat:'Montserrat', sans-serif;
$kaushan: 'Kaushan Script', cursive;
$roboto: 'Roboto', sans-serif;


* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
// body {
//   // padding-right: 5%;
//   // padding-left: 5%;
  
// }

.container1{
//  width: 1200px;
  margin: 0 auto;

}
/*container*/
.container {
  // width: 1200px;
  margin: 0 auto;

  
}

//*intro*//
.intro {
  width: 100vw;
  // max-width: 1920px;
  // height: auto;
  background-image:
    linear-gradient(to bottom,rgba(232, 129, 130, 0.90), rgba(241, 217, 138, 0.90)),
    url('/img/Layer\ 15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .intro-inner {
      text-align: center;

      .intro-subtitle {
        padding-top: 168px;
        padding-bottom: 67px;
        font-family: $kaushan;
        font-size: 72px;
        color: $white;
        text-align: center;
        
      }
      .intro-title {
        color: $white;
        font-size: 150px;
        font-weight: bold;
        text-align: center;
        line-height: 1;

        
      }
      .intro-title::after {
        content: '';
        display: block;
        width: 6vw;
        height: 0.3vh;
        margin: 73px auto 52px auto; ;
        background-color: $white;
      }
      
    }
}

//*btn*//
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  margin-bottom: 156px;
  border: 3px solid $white;
  font-size: 14px;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $monserat;
}
//*header*//

.header {
  font-size: 0;
  width: 100%;
  // border: 1px solid red;
  // width: 1920px;
  // overflow: hidden;
} 

.header-inner {
  margin: 0 auto;
  box-sizing: border-box;
  // width: 100%;
  width: 100vw;
  height: 66px;
  // display: inline-block;

  .header-logo {
    display: inline-block;
    text-align: left;
    padding-top: 30px;
    width: fit-content;
    position: relative;
    left: 10%;
    font-size: 20px;
    font-family: $monserat;
    color: $white;
    font-weight: bold;
  }
  .nav {
    // width: 100vw;
    text-align: right;
    vertical-align: top;
    display: inline-block;
    position: relative;
    left: 45%;
    z-index: 15;
    // width: 38.813rem;
    font-size: 14px;
    font-family: $monserat;
    font-weight: bold;
    text-align: end;
    ul li{
      text-align: right;
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-left: 2.3vw;
    }
    ul li:hover{
      color: $white;
      text-decoration: none;
      border-bottom: 3px solid $white;
    }
  
    .nav-link {
      display: inline-block;
      vertical-align: top;
      padding-top: 37px;
      color: $white;
      text-decoration: none;
      text-underline-offset: 5px;
      transition: color .2s linear; 
    }
    img.shoping-cart
    {
      color: $black;
    }
    .last {
      color: $black;
      padding-right: 0;
      transition: color .2s linear;
    }
    .last:hover {
      color: $orange;
    }
    .nav-link:hover {
      color: $orange;
      border-bottom: 2px ;
    }
    .nav-link:after {
      content: "";
      display: inline-block;
      width: 100%;
      background-color: $white;
      
      top: 100%;
      left: 0;
      z-index: 1;
    }
  
  }
}


/*nav*/


//*slider*//
.slider {
  font-size: 0;
  box-sizing: border-box;
  // border: 1px solid red;
  display: inline-block;
  text-align: center;
  width: 100%;

  .slider-item {
    display: inline-block;
    width: 280px;
    opacity: 0.7;
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
    color: $white;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 3px solid $white;
    
    
  }
  .slider-item.active {
    opacity: 1;
    border-image:   linear-gradient(to right, $pink 25%, $white 25%,) 2;
}
}
//*section*//
.section {
  font-size: 0;
  box-sizing: border-box;
  width: 100vw;

  .container {
    border: 1px solid red;
    font-size: 0;
    box-sizing: border-box;
    
  }
  //*about us*//
  .section-header {
    width: 100%;

  .sub-title {
    text-align: center;
    font-family: $kaushan;
    font-size: 24px;
    color: $black;
    margin-top: 92px;
    margin-bottom: 25px;
  }

  .title {
    text-align: center;
    font-family: $monserat;
    font-size: 30px;
    color: $black;
  }

  .title::after {
    content: '';
    display: block;
    width: 6vw;
    height: 0.3vh;
    margin: 42px auto 47px auto; ;
    background-color: $pink;
  }
  .paragraph {
    text-align: center;
    
    font-family: $roboto;
    font-size: 15px;
    color: $light-gray;
  }
  .images-container {
    max-width: 100%;
    width: 90vw;
    // border: 1px solid red;
    box-sizing: border-box;
    font-size: 0;
    margin: 0 auto;
    margin-top: 103px;
    text-align: center;
  }
  .img-responsive {
    display: inline-block;
    // max-width: 100%;
    height: auto;
    text-align: center;
    width: 19.0vw;
    margin: 0 31px 0 0;
    vertical-align: top;
  }
  //*facts*//
  .facts-container {
    font-size: 0;
    box-sizing: border-box;
    background-color: $light-blue;
    border: 1px solid green;
    display: inline-block;
    margin-top: 11.67vh;
    width: 100vw;
  }
  .facts-inner-container {
    font-size: 0;
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
  }
  .number {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    font-family: $monserat;
    color: $white;
    text-align: center;
    padding-top: 89px;
    padding-bottom: 89px;
    border-right:1px solid $blue-lighten;
  }
  .number-line {
    font-size: 72px;
  }


  }
   //*services*//
  .services-container {
    font-size: 0;
    box-sizing: border-box;
    border: 1px solid green;
    display: inline-block;
    width: 100vw;
    


    .services-subtitle {
      font-size: 24px;
      text-align: center;
      font-family: $kaushan;
      margin-top: 11.67vh;
      color: $black;
      


    }
    .services-title {
      font-size: 30px;
      text-align: center;
      color: $black;
      font-weight: bold;



    }
    .services-title::after {
      content: '';
      display: block;
      width: 6vw;
      height: 0.3vh;
      margin: 42px auto 47px auto; ;
      background-color: $pink;
    }



    .services-inner-container {
      // font-size: 0;
      // box-sizing: border-box;
      width: 60%;
      margin: 0 auto;
      border: 1px solid orangered;
    }


    .service-section1 {
      width: 100%;
      border: 1px solid green;
      text-align: center;
    }


    .service-section2 {
      border: 1px solid rgb(128, 30, 0);
      width: 100%;
      text-align: center;
    }


    .item-h1 {
      display: inline-block;
      font-family: $monserat;
      font-size: 14px;
      text-align: left;
    }



    .service-iteme {
      width: 30%;
      border: 1px solid red;
      display: inline-block;
      text-align: left;

      .service-paragraph {
        border: 1px solid red;
        width: 100%;
        // margin-left: 35px;
      }



       p {
        font-size: 14px;
        font-family: $roboto;
        color: $gray-lighten;
       }
       img {
        display: inline-block;
        border: 1px solid red;
        
        // padding-right: 30px;
        // margin-right: 20px;
       }
      
    }

  }



}
